.App {
  text-align: center;
  background-color: #023436;
  font-family: 'Quicksand',sans-serif;
  padding-top :25px;
}


.Header {
  background-color: #00BFB3;
  border:2px solid white;
  width:550px;
  height: 250px;
  margin : 0 auto;
  padding : 20 px;
}

.pish{
  font-size:50px;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Names{
  width: 300px;
  margin: 0 auto;
  text-align: left;
  margin-top: 25px;
  padding-left: 50px;
  padding-top: 25px;
  background: #40BCD8;
  font-size: 20px;  
}

.Input{
  border: 1px solid white;
  padding-top: 10px;
  width: 360px;
  height: 25px;
  font-size: 25px;
  margin: 0 auto;
}


.h1{
  font-size: 50px;
  text-decoration: underline;
}